// COLORS PALETTE
$bg-color: #fefefe;
$text-color: #333;

$jungle-green: #00AA84ff;
$black: #030404ff;
$dark-green: #02321Dff;
$tiffany-blue: #A9DBCBff;
$davys-gray: #545454ff;

//Typography
$main-font: 'Montserrat', sans-serif;